<link href="/hostel/style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <div class="card p-0">
                <div class="card-title text-center">
                    <h5 class="mt-5">HEY, THERE</h5> <small class="para">Sign Up</small>
                </div>
                <form class="signup" method="">
                    <div class="form-group"><input type="text" class="form-control" id="name" placeholder="name"></div>
                    <div class="form-group"><input type="email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                    <div class="form-group"><input type="password" class="form-control" id="password"
                            placeholder="password"></div>
                    <button type="button" class="btn btn-primary" onclick="validatingCredentials1()">Login</button>
                    <div class="row">
                        <div class="col-6 col-sm-6"> <a href="#">
                                <p class="text-left pt-2 ml-1"></p> 
                            </a> </div>
                        <div class="col-6 col-sm-6"> <a href="/hostel">
                                <p class="text-right pt-2 mr-1">already registered </p>
                            </a> </div>
                    </div> <span class="text-center">Or</span> <span class="text-center pt-3">Login Using</span>
                    <div class="row">
                        <div class="d-flex mx-auto pt-1 pb-3 col-md-7"> <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i
                                    class="fab fa-google-plus-g"></i></a> <a href="#"></a><i
                                class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/hostel/script.js"></script>
